.fields-group
  = f.input :acct, wrapper: :with_label

.fields-group
  = f.input :show_reblogs, as: :boolean, wrapper: :with_label

.fields-group
  = f.label :list_id
  = f.collection_select :list_id, home_list_new(@lists), :first, :last

%hr.spacer/
